@import '../../../../assets/styles/colors';

button::-moz-focus-inner {
  border: 0;
}

.booking-button{
  display: block;
  width: 100%;
  padding: 12px 30px;
  background-color: $op;
  border-width: 0;
  border-radius: 4px;
  color: $white;
  font-size: 24px;
  cursor: pointer;
  transition: 100ms all linear;

  &:hover,
  &:focus{
    outline: none;
    background-color: darken($op, 5%);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
