@import '../../../../assets/styles/colors';

.booking-price{
  &__value {
    font-size: 28px;
    font-weight: bold;
    color: $black;
    margin: 0 0 10px;
  }

  &__label {
    font-size: 16px;
  }
}
